body {
    min-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 1;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
}
.subtitle {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2;
    color: #445161;
    margin-bottom: 30px;
    text-align: center;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.list {
    list-style: none;
    font-size: 20px;
    line-height: 1.8;
}
.img {
    object-fit: cover;
}

.btn {
    background-color: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #445161;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    height: 40px;
    transition: background-color .3s ease, color .3s ease;

    &:hover {
        cursor: pointer;
        background-color: #445161;
        border: 2px solid #fff;
        color: #fff;
    }
}

$bg_light: #f5f5f5;

.header {
    background-color: #4d4d4d;
    color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        width: 50%;
    }

    &__title {
        font-size: 60px;
        margin-bottom: 50px;
        font-weight: normal;
    }

    &__item {
        padding-left: 35px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 19px;
            background-image: url(../img/check-icon.png);
        }
    }

    &__img {
        height: 250px;
        width: 40%;
    }

}

.about {
    &.container {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        width: 70%;
        padding-right: 40px;
        box-sizing: border-box;
    }

    &__title {
        text-align: left;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__img {
        height: 250px;
        width: 30%;
    }
}

.dignity {
    background-color: $bg_light;
    
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 50%;
        margin-bottom: 36px;
        position: relative;
        padding-left: 42px;
        box-sizing: border-box;

        &:nth-child(odd) {
            padding-right: 16px;
            box-sizing: border-box;;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 32px;
            height: 32px;
            background-image: url(../img/plus-icon.png);
        }
    }

}
.screenshots {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 30px;
        width: 50%;
        box-sizing: border-box;
        display: flex;

        &:nth-child(odd) {
            padding-right: 16px;
            box-sizing: border-box;;
        }

        &-content {
            padding-left: 15px;
        }

        &-title {
            font-size: 24px;
            line-height: 1.25;
            color: #445161;
            margin-bottom: 15px;
            font-weight: normal;
        }
    }

    &__img {
        width: 200px;
        height: 150px;
    }
}

.reviews {
    background-color: $bg_light;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        width: 50%;
        margin-bottom: 24px;

        &:nth-child(odd) {
            padding-right: 16px;
            box-sizing: border-box;
        }
    }

    &__comment {
        background-color: #ebebeb;
        border-radius: 5px;
        padding: 16px 20px 16px 27px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            border: 12px solid transparent; 
            border-right: 12px solid #ebebeb;
            left: -24px;
            top: 30px;
        }
    }

    &__text {
        margin-bottom: 15px;
        font-style: italic;
    }

    &__name {
        font-size: 14px;
        line-height: 1.29;
        color: #989898;
    }


    &__img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-right: 16px;
    }
}
.price {
    &__cols {
        display: flex;
        color: #fff;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__col {
        background-color: #445162;
        width: 33.333%;
        max-width: 300px;
        border: 2px solid #445162;
        border-radius: 5px;

        &-title {
            text-align: center;
            line-height: 1.25;
            font-size: 24px;
            padding: 16px 0;
        }

        &-value {
            background-color: #fff;
            font-size: 40px;
            line-height: 0.75;
            color: #445162;
            padding: 18px 0;
            text-align: center;
        }

        &-description {
            padding: 20px;
        }

        &-list {
            margin-bottom: 20px;
            list-style-position: inside;
        }

        &-item {
            font-size: 14px;
            line-height: 24px;
        }

        &-btn {
            width: 100%;
        }
    }
}
.contacts {
    background-color: #445162;

    &__title {
        color: #fff;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 500px;

        &__input {
            margin-bottom: 20px;
            border-radius: 5px;
            padding: 10px 14px;
            font-size: 16px;
            line-height: 1.5;
            color: #445162;
            border: none;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    &__btn {
        width: 140px;
        margin: 0 auto;
    }

    &__item {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -30px;
            width: 20px;
            height: 20px;

        }

        &.skype::before {
            background-image: url(../img/skype-icon.png);
        }
        &.icq::before {
            background-image: url(../img/icq-icon.png);
        }
        &.email::before {
            background-image: url(../img/email-icon.png);
        }
        &.phone::before {
            background-image: url(../img/phone-icon.png);
        }
    }
}
.footer {
    background-color: $bg_light;

    .container {
        padding: 10px 50px 5px;
    }

    &__coopyright {
        text-align: center;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.3px;
        color: #445162;
    }
}